@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap');

:root{
    --background-color: #d8f1de;
    --text-color: black;

}

body{
    font-family: 'Chakra Petch', sans-serif;
    margin: 3% 15%;
    background-color: var(--background-color);
    color: var(--text-color);
}

p {
    line-height: 10px;
}





nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    font-weight: 500;
}

nav ul li {
    margin-left: 40px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    
}

nav ul li span{
    position: absolute;
    top: -4px;
    right: -28px;
}






header {
    margin-top: 40px;
    display: flex;
    justify-content:space-between;
    align-items: top;

}

header .header-center {
    -ms-flex-align: center;
}

header .header-center h1 {
    font-size: 75px;
    font-weight:400;
    margin-right: center;
    margin-left: center;
}

header .header-left {
    flex: 6;
    margin-right: 50px;
}

header .header-left h1 {
    font-size: 50px;
    font-weight: 400;
    margin-top: 15px;
}

header .header-left .links {
    margin-top: 80px;
}
header .header-left .links a {
    text-decoration: none;
    color: inherit;
    position: relative;
    margin-right: 40px;
}
header .header-left .links a span {
    position: absolute;
    top: -5px;
    right: -28px;
}

header .header-left p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

header .header-right {
    flex: 5;
}

header .header-right img {
    width: 100%;
    border-radius: 50%;
}






header .body-left {
    flex: 6;
    margin-right: 50px;
}

header .body-left h2 {
    font-size: 35px;
    font-weight: 300;
    margin-top: 15px;
}

header .body-left p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

header .body-left li{
    font-size: 20px;
}

header .body-right {
    flex: 6;
    margin-right: 50px;
}

header .body-right h2 {
    font-size: 35px;
    font-weight: 300;
    margin-top: 15px;
}

header .body-right p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

header .body-right li {
    font-size: 20px;
}




.about {
    margin-top: 150px;
}
.about p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}




.error {
    width: auto;
    text-align: center;
    color:#343434
}

.error img{
    width: auto;
    height: 700px;
    align-items: center;
}




.images {
    margin-top: 60px;
}

.images .image-card {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.images .image-card .image-left {
    margin-right: 40px;
}

.images .image-card .image-left img {
    height: 250px;

}





footer {
    margin-top: 100px;
}

footer p {
    font-size: 15px;
}






@media screen and (max-width: 880px) {
    .images .image-card{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 620px) {
    header {
        flex-direction: column;
    }
    header .header-left{
        margin-right: 0;
    }
    header .header-right{
        margin-right: 40px;
    }
    header .header-right img {
        width: 250px;
    }

    .images .image-card .image-left img {
        width: 100%;
    }
}